#nav-color{background: peachpuff}
#color-btn{background: peachpuff}
#btn-add-cart {
    position: absolute;
    bottom: 0%;
    
}

#back {
    background: rgb(213, 193, 193);
    border: 0;
    font-family: 'Hepta Slab';
    font-weight:400;
}

#add-cart{font-family: 'Hepta Slab';
    font-weight: 500}

#back a:link {
    color: blue;
}

#back a:visited {
    color: white;
}

#back a:hover {
    color: rgb(198, 114, 114);
    text-decoration: none
}

#back a:active {
    color: white;
}


#show {
    font-family: 'Hepta Slab';
    font-weight: 500;
    position: relative;
    right: 0
}


#show a:link {
    color: black;
}

#show a:visited {
    color: rgb(0, 0, 0);
}

#show a:hover {
    color: rgb(75, 28, 28);
    text-decoration: none
}

#show a:active {
    color: yellow;
}


.card {
    border:0px;
    box-shadow: 4px 9px 24px 0px rgba(224, 177, 153, 0.6);
    
}

#navbarDropdown {
    color: black;
    padding-top: 10px;
    padding-bottom: 15px
}


#btn-right {
    display: flex;
    flex-direction: row-reverse;
}


#element-center {
    display: flex;
    align-items: center;
}


#remove-btn {font-family: sans-serif;
             background: rgb(181, 76, 53); 
             border: 0;
             font-family: 'Hepta Slab';
             font-weight: 400}

#remove-btn a:link {
    color: white;
    text-decoration: none;
}

#tableau {
    display: flex;
    justify-content: space-between;
}

#order {
    background: rgb(225, 170, 111);
    border: 0;
    font-family: 'Hepta Slab';
    font-weight: 400;
}


#order a:link {
    color: white;
}

#order a:visited {
    color: white;
}

#order a:hover {
    color: rgb(174, 138, 99);
    text-decoration: none;
}

#order a:link {
    color: white;
}

#navbar {
    font-family: 'Hepta Slab';
    font-weight: 900
}

h1 {
    font-family: 'Hepta Slab';
    font-weight: 500
}

#item-title {
    font-family: 'Hepta Slab';
    font-weight: 600
}

#item-price {
    font-family: 'Hepta Slab';
    font-weight: 400
}
#item-total {font-family: 'Hepta Slab';
    font-weight: 500;}

#cart-title-navabar{
    color: black;
    font-family: 'Hepta Slab';
    font-weight: 400}

#title{font-family: 'Hepta Slab';
    font-weight: 600;}

