

#btn-add-cart{ position: absolute;
               bottom: 0%}
               
#back{background: rgb(213, 193, 193);
      border:0; 
      ; 
      }


     #back a:link {
        color: blue;
      }
      #back a:visited {
        color:white;
      }
      #back  a:hover {
        color: rgb(198, 114, 114);
        text-decoration: none
      }
      #back  a:active {
        color: white;
      }


      #show{ position:relative; 
        right: 0}


      #show a:link {
        color:black;
      }
    
      #show a:visited {
        color:rgb(0, 0, 0);
      }
    
      #show a:hover {
        color:grey;
        text-decoration:none 
      }
    
      #show a:active {
        color:yellow;
      }


.card{
     box-shadow:4px 9px 24px 0px rgba(224,177,153,0.6)}

#navbarDropdown{color: black;
padding-top: 10px; padding-bottom: 15px}


#btn-right{ display: flex;
    flex-direction: row-reverse;}


    #element-center{ display: flex;  
                 align-items: center;
    }


    #remove-btn a:link{
        color: white;
        text-decoration: none
      }

      #tableau{ display: flex;
        justify-content: space-between;}

        #order{background: rgb(225, 170, 111); border:0;}


        #order a:link {
            color:white;
          }

          #order a:visited {
            color:white;
          }

          #order a:hover {
            color: rgb(174, 138, 99);
            text-decoration: none;
          }
          #order a:link {
            color:white;
          }