
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="stylesheets/style.css">





<div class="container-fluid">
<div class="card align-center" style="width: 33%;">
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><h3>Thanks, you paid <strong><%= @cart.total_price%> euros</strong>!</h3>
    </li>
    
  </ul>
</div></div>